nav{
    background-color:#BE3144;
    position:fixed;
    top:0px;
    width: 100%;
    padding:0px;
    margin: 0px;
}
nav ul{
    float:right;
    list-style-type: none;
    padding:0px;
    margin: 0px;
}
nav ul li{
    padding: 20px;
    display: inline-block;    
}
nav ul li a{
    font-size: 25px;
    color:white;
    text-transform:capitalize;
    text-decoration: none;
}
nav ul li:hover{
    background-color: #45567D;
}

#welcome-section {
    background-color: #232326;
    margin-top: 68.75px;
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

h1 {
    color: white;
    font-size: 45px;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 0px;
}

#welcome-section p {
    color: #BE3144;
    font-size: 25px;
}
